.jk{
    color: blueviolet;
    text-decoration: underline;
}
button{
    color: black;
   text-decoration: line-through;
  background-color: blueviolet;
}
.jm{
    color: blueviolet;
  background-color: antiquewhite;
  text-decoration: underline;
}